/*
CSS TABLE OF CONTENTS:
    1) Font Icons
    2) Global
    3) Header
    4) Page Structure
    5) Images
    6) Headings and Text Styles
    7) Navigation
    8) Forms
    9) Responsive Design
*/

/* ---------------------------------------*/
/* ---------->>> FONT ICONS <<<-----------*/
/* ---------------------------------------*/

/*
Thank you to Elegant Icons! You guys rock. 
For more: https://www.elegantthemes.com/blog/resources/elegant-icon-font 
*/

@font-face { 
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}
.social_facebook_circle, .social_twitter_circle, .social_googleplus_circle, .social_linkedin_circle, .fa-github{
	font-family: 'ElegantIcons';
	speak: none;
	font-style: normal;
    color: #fff;
    font-size: 30px; 
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.social_facebook_circle:before {
	content: "\e0aa";
}
.social_twitter_circle:before {
	content: "\e0ab";
}
.social_googleplus_circle:before {
	content: "\e0ad";
}
.social_linkedin_circle:before {
	content: "\e0b4";
}


/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

a {
    color: white;
    text-decoration: none !important;
}
html, body {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 150%;
    margin: 0;
    max-height: 100%;
}
.bodyText a {
    color: #e36767;
}


/* -----------------------------------*/
/* ---------->>> HEADER <<<-----------*/
/* -----------------------------------*/

#header {
    background-color: #3d3d3b;
    height: 150px;
    position: fixed; 
    width: 100%;
    top: 0px; 
    z-index: 99999999;
    overflow: hidden;
    -webkit-transition: height 0.1s;
    -moz-transition: height 0.1s;
    transition: height 0.1s;
}
#header.shrink {
    height: 100px; 
}
#treeLogo {
    float: left;    
    display: block; 
    margin: 25px 0 0 3%;  
}
#nameLogo {
    float: left;    
    display: block; 
    margin: 35px 0 0 10px;
}
#treeLogo.grow {
    -webkit-animation-name: tree-logo; 
    -webkit-animation-duration: 0.4s;
    animation-name: tree-logo-grow;
    animation-duration: 0.4s;
}
#nameLogo.grow {
    -webkit-animation-name: name-logo;
    -webkit-animation-duration: 0.4s;
    animation-name: name-logo-grow;
    animation-duration: 0.4s;   
}
#treeLogo.shrink {
    -webkit-animation-name: tree-logo; 
    -webkit-animation-duration: 0.3s;
    animation-name: tree-logo-shrink;
    animation-duration: 0.3s;
    width: 75px; 
    margin: 15px 0 0 2%; 
}
#nameLogo.shrink {
    -webkit-animation-name: name-logo; 
    -webkit-animation-duration: 0.3s;
    animation-name: name-logo-shrink;
    animation-duration: 0.3s;
    opacity: 0; 
}
@keyframes tree-logo-shrink {
    0% {width: 100px;  margin: 25px 0 0 3%;}
    100% {width: 75px; margin: 15px 0 0 2%; }
}
@keyframes name-logo-shrink {
    0% {width: 268px; opacity: 1; margin: 35px 0 0 10px;}
    100% {width: 200px; opacity: 0; margin: 25px 0 0 9px;}
}
@keyframes tree-logo-grow {
    0% {width: 75px; margin: 15px 0 0 2%; }
    100% {width: 100px;  margin: 25px 0 0 3%;}
}
@keyframes name-logo-grow {
    0% {width: 200px; opacity: 0; margin: 25px 0 0 9px;}
    100% {width: 268px; opacity: 1; margin: 35px 0 0 10px;}
}

#menu {
    font-family: 'Advent Pro', sans-serif;
    cursor: pointer;
    background-color: #3d3d3b;
    float: right; 
    margin: 60px 4% 0 0;
    font-size: 18px;
    display: inline-block;
    -webkit-transition: margin-top 0.2s;
    -moz-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
}
#menu.shrink {
    margin-top: 40px;
} 

.bigBottom {
    padding-bottom: 40px;
}

.tealBackground {
    background-color: #7accc8;
}

.whiteText {
    color: #fff;
}

/* -------------------------------------------*/
/* ---------->>> PAGE STRUCTURE <<<-----------*/
/* -------------------------------------------*/

#firstItem {
    margin-top: 150px;
}

footer {
    background-color: #3d3d3b;
    color: #fff;
    margin: auto;
    text-align: right;
    height: 50px;
    overflow: hidden;
}

#footerText { 
    padding-top: 10px;
    padding-right: 20px;
    opacity: 0.4;
}

#shortDescription {
    padding: 0 0 116px 0;
    font-family: 'Advent Pro', sans-serif;
    background-color: #7accc8;
    margin-top: 100px;
    color: white;  
    width: 100%; 
    text-align: center;
    position: relative;
}

 #blogHeader {
    font-family: 'Advent Pro', sans-serif;
    background-color: #7accc8;
    margin-top: 100px;
    color: white;  
    width: 100%; 
    text-align: center;
    position: relative;
 }

#blogHeader>p{
    padding-top: 100px;   
    font-size: 24pt;
}

#featuredImage {
    padding: 20px 0 20px 60px;
}

#DijkstraFeature {
    padding-top: 20px;
}

#selfPortrait {
    position: absolute; 
    left: 50%; 
    margin-top: 34px;
    margin-left: -82.5px; 
}

#resume {
    width: 170px;
    padding-left: 10px;
    opacity: 0.8;
}

#resume:hover {
    opacity: 1;
    transition:all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.bodyText {
    padding: 10px; 
    font-size: 12pt; 
    text-align: justify;
    color: black;
}


.blogPost-banner {
    font-family: 'Advent Pro', sans-serif;
    padding: 10px; 
    font-size: 14pt; 
    text-align: justify;
    color: #fff;
    background:#3d3d3b;
	border:1px solid #3d3d3b;
	padding:8px;
	line-height:1.5em;
	min-height:50px;
	text-align: center;
}

.codeBlockSmall {
    height: 300px;
    width: 100%;
}

.invisible {
    visibility: hidden;
}


.skillSet {
    width: 800px; 
    margin: auto;   
}

.skill {
    float: left;  
    padding: 10px 20px 10px 20px;
}

.thumb-title {
   margin-right: 15px;
  margin-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.thumb-container { 
    max-width: 1170px;
    margin: 30px auto;
    overflow: auto;         /* clearfix */
}

.thumb {
    width: 25%;
    height: 200px;
    display: block;   /* anchor tags are normally display-inline */
    float: left;
    position: relative;
    padding-top: 20%;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.thumb-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: null;
    opacity: 0.8;
    background-color: #3d3d3b;
    height: 100%;
    text-align: center; 
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -moz-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -webkit-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -o-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.thumb:hover .thumb-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background-color: #3d3d3b;
}

.thumb-text {
    font-family: 'Advent Pro', sans-serif;
    display: block;
    padding: 30px 10px 30px 10px;
    color: #fff;
    font-size: 18pt;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
}

.coming-soon {
    font-family: 'Advent Pro', sans-serif;
    display: block;
    padding: 0 10px 0 10px;
    color: #e36767;
    font-size: 16pt;
    font-weight: 300;
}

.blogPost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    height: 100%;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -moz-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -webkit-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -o-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    z-index: 1;
}

.blog-container { 
    max-width: 960px;
    margin: 30px auto;
    overflow: auto;         /* clearfix */
}

.blog-overlay {
    width: 33.33%;
    height: 200px;
    display: block;   /* anchor tags are normally display-inline */
    float: left;
    position: relative;
    padding-top: 20%;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; 
    background-color: #3d3d3b;
}

.blog-overlay:hover {
    cursor: default;
}

.blog-overlay:hover .blogPost{
    position: absolute;
    background-color: #3d3d3b;
    top: 100%;
    left: 0;
    right: 0;
    bottom: null;
    opacity: 0.8;
    background-color: #3d3d3b;
}

.blogText {
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    z-index: 0;
    color: #e36767;
    font-size: 16pt;
    font-weight: 300;
    top: 45%;
    left: 30%;

}

.blogPost-static {
    width: 33.33%;
    height: 200px;
    display: block;   /* anchor tags are normally display-inline */
    float: left;
    position: relative;
    padding-top: 20%;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; 
    background-color: #3d3d3b;
}

/* -------------------------------------------*/
/* --------------->>> IMAGES <<<--------------*/
/* -------------------------------------------*/


.project_pic {
 
    transition:all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-backface-visibility: hidden;
}



.photoContainer{
    top: 0;
    width:100%;
    height:300px;
    position: relative;
    overflow:hidden;  
    background-color: #3d3d3b;
}

.photoContainer_content h1 {
    padding-top: 100px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    font-size: 30pt;
    float: left;
    text-align: center;
    width: 100%;
}

.photoContainer_content h5 {
    font-family: 'Advent Pro', sans-serif;
    position: relative;
    font-size: 16pt;
    font-weight: 600;
    float: left;
    padding-left: 10px;
    margin-bottom: -5px;
    line-height: 0.5;
    text-align: center;
    width: 100%;
    z-index: 2;
}




/* -----------------------------------------------------*/
/* ---------->>> HEADINGS AND TEXT STYLES <<<-----------*/
/* -----------------------------------------------------*/



h1 {
    font-family: 'Advent Pro', sans-serif;
    margin-left: 10px; 
    font-weight: 700;
}

h2 {
    font-family: 'Advent Pro', sans-serif;
    margin-left: 10px; 
    font-weight: 600;
    font-size: 20pt;
}

.bigFont {
    font-size: 24pt;
    font-weight: 300;
}

/* ---------------------------------------*/
/* ---------->>> NAVIGATION <<<-----------*/
/* ---------------------------------------*/


#jumpto-About, #jumpto-Contact, #jumpto-Projects {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
    
}

/* Super awesome menu drop down code supplied by http://codyhouse.co */
.primary-nav-trigger .menu-text {
    color: white;
    text-transform: uppercase;
}

.primary-nav-trigger .menu-icon {
  /* this span is the central line of the menu icon */
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 20px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}

.primary-nav-trigger .menu-icon::before, .primary-nav-trigger .menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
}
.primary-nav-trigger .menu-icon::before {
    top: -5px;
}
.primary-nav-trigger .menu-icon::after {
    top: 5px;
}
.primary-nav-trigger .menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}
.primary-nav-trigger .menu-icon.is-clicked::before, .primary-nav-trigger .menu-icon.is-clicked::after {
    background-color: white;
}
.primary-nav-trigger .menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.primary-nav-trigger .menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

.primary-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #3d3d3b;
    opacity: 0.95;
    z-index: 999;
    text-align: center;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.primary-nav li {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 500;
    font-size: 24px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0.5em 0;
    color: white;
}
.primary-nav a {
    display: inline-block;
    padding: .4em 1em;
    border-radius: 0.25em;
    color: white;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}
.primary-nav a:hover {
    background-color: #e36767;
}
.primary-nav-title {
    color: #7accc8 !important;
    padding-top: 30px;
    font-size: 18px !important;
    text-transform: uppercase;
}
.primary-nav.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

/* ----------------------------------*/
/* ---------->>> FORMS <<<-----------*/
/* ----------------------------------*/

form {
    float: left;
    position: relative;
    width: 480px;
    margin-left: 10px;
}

form label {
    display: block;
    height: 36px;
    margin: 0;
    border-bottom: 1px solid black;
}

form span {
    padding: 5px;   
}

form label span {
    display: block;
    float: left;
}

span.message {
    display: block;
}

form input.name, form input.email {
    float: right;
    width: 380px;   
    height: 35px;
    border: none;
    padding: 10px;
}

form input:focus, form textarea:focus  {
    outline: none;  
    background-color: #7accc8;
}

form textarea {
    float: right;
    width: 480px;
    height: 120px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    border-bottom: 1px solid black;
}

form .button {
    font-family: 'Advent Pro', sans-serif;
    font-size: 12pt;
    padding: 6px;
    clear: both;
    margin-top: 5px;
    margin-bottom: 50px;
    background-color: #3d3d3b;
    border: 2px solid #3d3d3b;
    color: #fff;
    border-radius: 5px;
}




/* ----------------------------------------------*/
/* ---------->>> RESPONSIVE DESIGN <<<-----------*/
/* ----------------------------------------------*/



@media only screen and (min-width: 961px) {
    
    
    .intro, #featuredBlog-title {
        padding: 100px 32px 0; 
        font-size: 24pt; 
        font-weight: 300;
    }
    
    #featuredBlog-subtitle {
        font-size: 12pt; 
        font-weight: 300;
    }
    
    .introKicker {
        padding-top: 10px; 
        font-size: 18pt; 
        font-weight: 300;
    }
    .topPadding {
        padding-top: 40px;  
    }
}

@media only screen and (max-width: 961px) {
    #treeLogo {
        float: left;    
        display: block; 
        margin: 15px 0 0 3%;
        height: 70px;
    }
    #nameLogo {
        float: left;    
        display: block; 
        margin: 20px 0 0 10px;
        height: 50px;
    }
    #header {
        background-color: #3d3d3b;
        height: 100px;
        position: fixed; 
        width: 100%;
        top: 0px; 
        z-index: 99999999;
        overflow: hidden;
    }
    #treeLogo.grow {
        -webkit-animation-name: tree-logo; 
        -webkit-animation-duration: 0s;
        animation-name: tree-logo-grow;
        animation-duration: 0s;
    }
    #nameLogo.grow {
        -webkit-animation-name: name-logo;
        -webkit-animation-duration: 0s;
        animation-name: name-logo-grow;
        animation-duration: 0s;   
    }
    #treeLogo.shrink {
        -webkit-animation-name: tree-logo; 
        -webkit-animation-duration: 0s;
        animation-name: tree-logo-shrink;
        animation-duration: 0s;
        width: 77px; 
        margin: 15px 0 0 3%; 
    }
    #nameLogo.shrink {
        -webkit-animation-name: name-logo; 
        -webkit-animation-duration: 0s;
        animation-name: name-logo-shrink;
        animation-duration: 0s;
        opacity: 0; 
    }
    @keyframes name-logo-shrink {
        0% {height: 50px; opacity: 1; margin: 20px 0 0 10px;}
        100% {height: 50px; opacity: 0; margin: 20px 0 0 10px;}
    }
    #selfPortrait {
        position: absolute; 
        left: 50%; 
        width: 140px;
        margin-top: 40px;
        margin-left: -70px; 
    }
    .intro,  #featuredBlog {
        padding: 80px 32px 0; 
        font-size: 26pt; 
        
    }
        
    .introKicker {
        padding-top: 5px; 
        font-size: 14pt; 
    }
    .topPadding {
        padding-top: 30px;  
    }
    #menu {
        margin: 40px 4% 0 0;
        font-size: 16px;
        display: inline-block;   
    } 
    #menu:hover {
        color: #e36767; 
    }
}

@media (max-width:481px) {
    #selfPortrait {
        position: absolute; 
        left: 50%; 
        width: 130px;
        margin-top: 34px;
        margin-left: -65px; 
    } 
     #nameLogo {
        display: none;
    }
}

@media (max-width:340px) {
    #selfPortrait {
        position: absolute; 
        left: 50%; 
        width: 120px;
        margin-top: 34px;
        margin-left: -60px; 
    }  
}
