//FONT STYLES
$font-stack-main:   "Source Sans Pro", sans-serif;
$font-stack-title:  'Advent Pro', sans-serif;

//COLORS:
$site-red:          #e36767;
$site-grey:         #3d3d3b;
$site-teal:         #7accc8;
$site-black:        #10131A;
$white:             white;

//FONT-WEIGHTS:
$font-weight-diet:  300;
$font-weight-normal: 400;

//MARGINS AND PADDING:
$gutter: em(30);
$mac-screen: em(1200);

//FONT SIZES:
$h1-font: em(40);
$h2-font: em(34);
$h3-font: em(24);

//PERCENTAGES
$overflow: 200%;
$whole: 100%;
$half: 50%;
$quarter: 25%;

//Z-INDEX
$v-high: 200;
$high: 100;
$med: 50;
$low: 25;
