---
---

<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="assets/css/prism.css"/>
    </head>
    
    <body>
        {% include header-blogPost.html %}
        {% include blog-head.html %}
        {% include blog-content.html %}
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="assets/js/functions.js"></script>
        <script src="assets/js/prism.js"></script>
    </body>
    
    {% include footer.html %}
    
</html>


