---
---

<html>
    <head>
        {% include head.html %}
    </head>
    
    <body>
        {% include header-main.html %}
        {% include about.html %}
        {% include skills-and-experience.html %}
        {% include projects.html %}
        {% include blog-kicker.html %}
        {% include form.html %}
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="assets/js/functions.js"></script>
    </body>
    
    {% include footer.html %}
    
</html>


