---
---

<html>

 
    <head>
        
<!--
        <meta charset="UTF-8"/>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property="og:site_name" content="Dan LaFreniere Portfolio"/>
        <meta property="og:title" content="Dan LaFreniere's Portfolio"/>
        <meta property="og:description" content="My portfolio outlining some of my work/side projects and some stuff about myself too!"/>
        <meta property="og:image" content="http://www.danlafreniere.com/assets/images/SiteLogo_Social.png">
        <meta property="og:url" content="http://www.danlafreniere.com/">
        <meta property="og:type" content="blog"/>
-->
   	 	<title>Dan LaFreniere Portfolio</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/all.css"/>
        <link href='http://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="assets/images/SiteLogo_AshTree.png" sizes="32x32">
        
    </head>
    
    <body>
        
        {% include header.html %}
        
        {% include about.html %}
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="assets/js/functions.js"></script>
        
    </body>


</html>


