---
---

<html>
    <head>

   	 	<title>Dan LaFreniere Portfolio</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/all.css"/>
        <link href='http://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="../../assets/images/SiteLogo_AshTree.png" sizes="32x32">
        <link rel="stylesheet" href="../../assets/css/prism.css"/>
    </head>
    
    <body>
        {% include header-blogPost.html %}
        <div id="blogHeader" style="background-color: white">
            <p>MEAN in a Nutshell - Part 1</p>
            <img style="margin-left: -50px; margin-top: 50px" id="featuredImage" alt="Feature image for the blog - MEAN logo" src="../../assets/images/Post_MEAN/MEAN.png"/>
        </div>
        
        <p class="topPadding" style="text-align: center; font-size: 16pt">|&nbsp; <a href="../nutshell_MEAN_p1/index.html">PART 01</a> &nbsp;|&nbsp; PART 02 &nbsp;|&nbsp; <a href="../nutshell_MEAN_p3/index.html">PART 03</a> &nbsp;|<br/>
            |&nbsp; <a href="../nutshell_MEAN_p4/index.html">PART 04</a> &nbsp;|&nbsp; <a href="../nutshell_MEAN_p5/index.html">PART 05</a> &nbsp;|&nbsp; <a href="../nutshell_MEAN_p6/index.html">PART 06</a> &nbsp;|</p>
        
        <div class="container floatClear"> 
            <h1>APP JS AND CONTROLLERS</h1>
            
            <p><b>Before starting be sure to download the TeamWhipper template file from my <a href="https://github.com/danlafreniere/BlogPosts/tree/master/MEAN">github repository</a>. All modules you will need for now are currently installed and you can change the author in the package.json file to your name (line 22 or so). With these files you can follow along as we go.</b></p>
            
            <h2 style="margin-top: 30px;">APP JS</h2>

            <p style="margin-top: 30px;">Alright, let's jump right in with the App.js file - this will serve as the entry point for our Team Whipper application and can be thought of as the file that keeps everything together. We are going to start with a relatively simple file and work up as we go.</p>
            
            <p>The first thing we need to do is require Express which will ultimately open up a lot of amazing functionality for us (middleware, routing, etc):</p>
            
            <pre class="codeBlockSmall" style="max-width: 420px; max-height: 110px;">
                <code class="language-javascript">
    var express = require('express');
                </code>
            </pre> 
            
            
            <p>Now let's create an express application object by calling the express method:</p> 
            
            <pre class="codeBlockSmall" style="max-width: 300px; max-height: 110px;">
                <code class="language-javascript">
    var app = express(); 
                </code>
            </pre>
            
            <p>The express application provides us methods for routing HTTP requests, configuring middleware, rendering HTML views, registering template engines, and affecting application behavior. If these topics are new don't sweat because we are actually going to start covering them now.</p>
            
            <h2>OUR TEMPLATE ENGINE</h2>
            
            <p>Let's set up our template/view engine using express. Template engines allow us to easily design HTML pages and bring in some added functionality. For example, we are going to be using EJS (Effective Javascript templating) that will allow us to generate HTML markup with plain javascript using the "&lt;%" &amp; "%&gt;" tags. Setting our view engine to ejs is as easy as this:</p>
            
            <pre class="codeBlockSmall" style="max-width: 400px; max-height: 110px;">
                <code class="language-javascript">
    app.set('view engine', 'ejs'); 
                </code>
            </pre>
            
            <h2>FIRST MIDDLEWARE EXAMPLE</h2>
            
            <p>Since we are going to be using CSS and other assets to develop our web application, we also need a way to serve static files to all pages in our app. Express actually has built in middleware that allows us to do this. Middleware is essentially any code that runs between a request to a server and a response from that server (again, we will be covering this stuff very soon so no sweat).</p>
            
            <pre class="codeBlockSmall" style="max-width: 450px; max-height: 110px;">
                <code class="language-javascript">
    app.use(express.static('./public'));
                </code>
            </pre>
            
            <p>Since we didn't define any particular path in the first arguement of the above call, it will actually apply to all pages of our app. This is handy because now all assets found in the "public" folder will be served automatically.</p>
            
            <h2>THE SERVER</h2>
            
            <p>Finally we are going to set up the server itself by defining a port and then listening for it:</p>
            <pre class="codeBlockSmall bigBottom" style="max-width: 530px; max-height: 160px;">
                <code class="language-javascript">
    var port = 3000;
    app.listen(port);
    console.log(`Now listening to port ${port}`);
                </code>
            </pre>
            
            <p>It's as easy as that... Pretty unreal.</p>
            
            <h2 style="margin-top: 50px;">CONTROLLERS</h2>   
            
            <p>The last thing we really need in our App.js file is regarding controllers. First we need to read in the controller using the require function, and then we need to actually fire that controller and pass in our app object. Passing in our app object will allow us to set up routes within our controller in the next tutorial. So let's do this all now so we can actually go ahead and build our controller in the next part! We are going to call this the initializationController because it will basically handle the functionality for the team-setup portion of our application (you can't manage a team until the team exists, amiright?).</p>
            
            <pre class="codeBlockSmall bigBottom" style="max-width: 750px; max-height: 130px;">
                <code class="language-javascript">
    var initializationController = require('./controllers/initialize');
    initializationController(app);
                </code>
            </pre>
            
        </div>

        <div class="container"> 
            <h1>CONCLUSION</h1>
            
            <p>So our App.js file is now set for the first part of our application. It should look something like this:</p>
            
            <pre class="codeBlockSmall bigBottom" style="max-width: 750px; max-height: 350px;">
                <code class="language-javascript">
    var express = require('express');
    var app = express();
    var initializationController = require('./controllers/initialize');

    initializationController(app);

    app.set('view engine', 'ejs');
    app.use(express.static('./public'));

    var port = 3000;
    app.listen(port);
    console.log(`Now listening to port ${port}`);
                </code>
            </pre>
            
            <p style="margin-bottom: 80px;"><a href="../nutshell_MEAN_p3/index.html">Check out part 3 here</a> to learn more about controllers.</p>
        </div>
           
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="../../assets/js/functions.js"></script>
        <script src="../../assets/js/prism.js"></script>
    </body>
    
    {% include footer.html %}
    
</html>


