<div id="shortDescription">
    <h1 class="intro">Hi, my name is Dan</h1>
    <p class="introKicker">I am an enthusiastic computer science student from Queen’s University.</p>
    <p class="introKicker">I love to <b class="bigFont">code, create</b>, and <b class="bigFont">problem solve.</b></p>       <img alt="Portrait of Dan LaFreniere" src="assets/images/Dan_SelfPortrait.png" id="selfPortrait"/>
</div>
  
<div class="container topPadding">
    <hr/ id="jumpto-About">
    <h1>ABOUT ME</h1>

    <p class="bodyText">I am a recent graduate of the second-degree Computing program at Queen's University. 
        I'm currently preparing for job interviews and will be available for hire beginning in the Fall. 
        I have recently completed a summer position at Queen's IT services where I worked with clients to build 
        and maintain websites for their respective faculties. I built up strong rapport with my clients over the 
        summer and had the priviledge of freelancing with these awesome individuals at their request during my studies.
    </p>

    <p class="bodyText">My first degree in psychology was obtained from the University of Alberta. I spent a number
        of years in the field of clinical neuropsychology where I studied human cognition and abnormal brain structure 
        in patients suffering from schizophrenia via patient testing and MRI acquisition. Though I loved the field, 
        I found myself spending a lot of my free time coding and decided that I should follow my heart and pursue 
        computer science. My passions lie in artificial intelligence, software development and app/web development 
        but I love learning new skills and facing the rewarding challenges that computer science presents to me every day.
    </p>

    <p class="bodyText">I'm a huge music fan and dig everything from death metal to dream pop. When I have time 
        I love travelling wherever the wind takes me or working on many of my growing side projects. I also 
        enjoy kayaking, bouldering, snowboarding, and hiking in the mountains on my days off. My personal goals
        involve learning night photography, how to fly a helicopter, and building a smart home with A.I. integration.
    </p>
        
        
    <p class="bodyText">I'm told I'm a very nice fella so don't hesitate to <a href="#jumpto-Contact">drop me a line!</a>
    </p>

    <p class="bodyText"><b>Please note that this website is currently under construction and is being built from
        scratch with a whole lot of coffee! Please feel free to check it out though and get a rough idea of what I'm up 
        to these days.</b></p>
    
</div>
