<div id="shortDescription">
    <h1 class="intro">Hi, my name is Dan</h1>
    <p class="introKicker">I am an enthusiastic computer science graduate from Queen&rsquo;s University.</p>
    <p class="introKicker">I love to <b class="bigFont">code, create</b>, and <b class="bigFont">problem solve.</b></p>       
    <img alt="Portrait of Dan LaFreniere" src="assets/images/Dan_SelfPortrait.png" id="selfPortrait"/>
</div>
  

<div id="about">
    <div class="master-container">
        <div class="about-panel-left">
            <div class="about-content">
                <p>I'm a recent graduate of the second-degree Computing program at Queen's University and I'm currently preparing for job interviews after taking some time off. I will be available for hire beginning January 2017.
                </p>

                <p>I  recently worked as a freelancer during my time at Queen's after obtaining clients from my summer position with IT Services. My current side projects involve a team management MEAN-stack web application called "TeamWhipper", an automated star tracker with accompanying Android app, and this portfolio site! You can read more about my past and present projects below.
                </p>

                <p>I'm told I'm a very nice fella so don't hesitate to <a href="#jumpto-Contact" style="color: white !important">drop me a line!</a>
                </p>
            
                <button id="back-btn">BACK</button>
            </div>
        </div>
        <div class="about-panel-right">
            <div class="bigBottom floatClear about-content">
                <div class="skill" >
                    <h4>Communication</h4>
                    <img alt="Skill bar for communication (about 95% full)" class="img-responsive" src="assets/images/Skills/CommunicationBar.png">
                </div>
                <div class="skill">
                    <h4>Organization</h4>
                    <img alt="Skill bar for organization (about 85% full)" class="img-responsive" src="assets/images/Skills/OrganizationBar.png">
                </div>
                <div class="skill">   
                    <h4>User Experience (UX)</h4>
                    <img alt="Skill bar for user experience (UX; about 75% full)" class="img-responsive" src="assets/images/Skills/UXBar.png">
                </div>
                <div class="skill">
                    <h4>Learning</h4>
                    <img alt="Skill bar for learning (about 90% full)" class="img-responsive" src="assets/images/Skills/LearningBar.png">
                </div>
                <div class="skill">
                    <h4>Programming</h4>
                    <img alt="Skill bar for programming (about 85% full)" class="img-responsive" src="assets/images/Skills/ProgrammingBar.png">
                </div>
                <div class="skill"> 
                    <h4>Team Work</h4>
                    <img alt="Skill bar for team work (about 90% full)" class="img-responsive" src="assets/images/Skills/TeamWorkBar.png">
                </div>
            </div>
        </div>
        <div class="about-kicker">
            <button id="aboutme-btn">About Me</button>
            <div id="resume-container">
                <a download href="assets/files/Daniel_LaFreniere_Resume.pdf"><img alt="Button to Download my Resume (PDF Format)" src="assets/images/Button_Resume.png" id="resume"/></a>
                <a download href="assets/files/Daniel_LaFreniere_Transcript.pdf"><img alt="Button to Download my Transcript (PDF Format)" src="assets/images/Button_Transcript.png" id="resume"/></a>
            </div>
        </div>
    </div>
</div>



  
<!--
    <div class="color-palette bigBottom">
        <div class="color-swatch" id="tricolour-blue" style="color: white;"><span>Second Degree?</span></div>
        <div class="color-swatch" id="tricolour-yellow"><span>Who are you really?</span></div>
    </div>
-->

<!--

    <p>My first degree in psychology was obtained from the University of Alberta. I spent a number
        of years in the field of clinical neuropsychology where I studied human cognition and abnormal brain structure 
        in patients suffering from schizophrenia via patient testing and MRI acquisition. Though I loved the field, 
        I found myself spending a lot of my free time coding and decided that I should follow my heart and pursue 
        computer science. My passions lie in artificial intelligence, software development and app/web development 
        but I love learning new skills and facing the rewarding challenges that computer science presents to me every day.
    </p>

    <p>I'm a huge music fan and dig everything from metal to dream pop. When I have time 
        I love travelling wherever the wind takes me or working on many of my growing side projects. I also 
        enjoy kayaking, bouldering, snowboarding, and hiking in the mountains in my free time. My personal goals
        involve learning night photography, how to fly a helicopter, getting a dog, and building a smart home with A.I. integration.
    </p>
-->

 
