<a href="blog-home.html">
<div class="photoContainer">
    <img alt="A spinning blue planet (animated)" id="planet" src="assets/images/Planet.gif"/>
    <img alt="A small comet moving horizontally in the background (animated)" id="littleComet" src="assets/images/Comet.gif"/>
    <img alt="A large comet moving horizontally in the foreground (animated)" id="bigComet" src="assets/images/Comet.gif"/>
    <div class="photoContainer_content">
        <h1 class="blog-title" class="sliding-underline"><span>My Blog</span></h1>
        <h3 class="blog-subtitle">Check It Out</h3>
    </div> 
</div></a>