<div class="container" id="contact" >
    <hr id="jumpto-Contact"/>
    <h1>CONTACT</h1>
    <h2>Drop me a line!</h2>
    <div style="width: 100%">
            <form method="POST" action="https://formspree.io/lafreniere.dj@gmail.com">
                <input type="text" class="name" name="name" placeholder="YOUR NAME"/>
                <input type="email" class="email" name="_replyto" placeholder="YOUR EMAIL"/>
                <textarea id="message" name="message" placeholder="YOUR MESSAGE"></textarea>  
                <input type="submit" class="button" value="SEND" name="contact_submit"></input>
            </form>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>