<div class="container" id="contact" >
    <hr id="jumpto-Contact"/>
    <h1>CONTACT</h1>
    <h2>Drop me a line!</h2>
    <div style="width: 100%">
        <div style="margin: 10px auto; max-width: 400px;">
            <form method="POST" action="https://formspree.io/lafreniere.dj@gmail.com">
                <label for="name">
                    <span>YOUR NAME</span>
                    <input type="text" class="name" name="name"/>
                </label>

                <label for="email">
                    <span>YOUR EMAIL</span>
                    <input type="email" class="email" name="_replyto"/>
                </label>

                <label for="message">
                    <span class="message">YOUR MESSAGE</span>
                    <textarea id="message" name="message"></textarea>  
                </label>
                <input type="submit" class="button" value="SEND" name="contact_submit"></input>
            </form>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>