<header id="header">

    <div>
        <a href="index.html"><img alt="Site logo icon - an ash tree" id="treeLogo" src="assets/images/SiteLogo_AshTree.png"/></a>
        <a href="index.html"><img alt="Dan LaFreniere. Programmer. Designer. Researcher." id="nameLogo" src="assets/images/SiteLogo_Name.png"/></a>
    </div>
    
    <nav id="menu">
        <a id="primary-nav-trigger"><span id="menu-text">Menu</span><span id="menu-icon"></span></a>
    </nav>
    
</header>

<nav>
    <ul id="primary-nav">
        <li id="firstItem"><a href="#jumpto-About">About Me</a></li>
        <li><a href="#jumpto-ProjectThumbs">Projects</a></li>
        <li><a href="#jumpto-Blog">Blog</a></li>
        <li><a href="#jumpto-Contact">Contact</a></li>
        <li id="primary-nav-title"><strong>Follow Me</strong></li>
        <li>
            <a href="https://ca.linkedin.com/pub/daniel-lafreniere/72/403/469"><i style="font-size: 35px;" class="fa fa-linkedin-square"></i></a>&nbsp;<a href="https://www.facebook.com/dan.lafreniere.56"><i style="font-size: 35px;" class="fa fa-facebook-square"></i></a>&nbsp;<a href="https://twitter.com/JustLacksZazz"><i style="font-size: 35px;" class="fa fa-twitter-square"></i></a>&nbsp;<a href="https://plus.google.com/+DanLaFreniere/posts"><i style="font-size: 35px;" class="fa fa-google-plus-square"></i>
</a>&nbsp;<a href="https://github.com/danlafreniere"><i style="font-size: 35px;" class="fa fa-github-square"></i></a>
        </li>
   </ul>
</nav>