<section id="blogPosts" class="topPadding bigBottom greyBackground">
    
   <div class="container"><h1 id="jumpto-Posts" class="whiteText">POSTS</h1></div>
    
         <div class="blog-container">
            <a class="blog-overlay" href="#0">
                <div class="blog-post">
                    <figure><img class="img-responsive" src="assets/images/Post_Dijkstra.png"/></figure>
                    <p class="blog-banner">Dijkstra's Algorithm</p> 
                </div>
                <p class="blog-text">Coming Soon</p>
            </a>

            <a class="blog-overlay" href="#0">
                <div class="blog-post">
                    <figure><img class="img-responsive" src="assets/images/Post_BarnDoor.jpg"/></figure>
                    <p class="blog-banner">Barn Door Star Tracking Mount</p>
                </div>
                <p class="blog-text">Coming Soon</p>
            </a>

            <a href="neuralNetwork.php" class="blog-static">
                <div class="blog-post">
                    <figure><img class="img-responsive" src="assets/images/Post_NeuralNetwork.jpg"/></figure>
                    <p class="blog-banner">Backpropagation Neural Networks</p>
                </div>
            </a>
        </div>
    
    </div>

</section>