<section id="blogPosts">
    <div class="blog-container" id="jumpto-Posts">
        <div id="blog-wrapper" class="floatClear">
            <div class="block-right">
                <img class="img-responsive" src="../assets/images/Posts/Post_Dijkstra.png"/>
            </div>
            <div class="arrow-box-right">
                <h3><i>Data Structures &amp; Algorithms</i></h3>
                <h2>Dijkstra's Algorithm</h2>
                <p>An algorithm designed to find the shortest path between points A and B in a weighted graph. Worst case performance is O(|E|+|V|log|V|). Created by <a href="https://en.wikipedia.org/wiki/Edsger_W._Dijkstra">Edsger Dijkstra</a>.</p>
                <div style="margin: 5%">
                    <div class="blog-coming-soon">Coming Soon</div>
                </div>
            </div>
        </div>
        
        <div id="blog-wrapper" class="floatClear">
            
            <div class="block-left">
                <a href="neuralnetwork/index.html">
                    <img class="img-responsive" src="../assets/images/Posts/Post_NeuralNetwork.png"/>
                </a>
            </div>
            <div class="arrow-box-left">
                <h3><i>Machine Learning</i></h3>
                <h2>Neural Network</h2>
                <p>Learn how to create a feed-forward backpropagation neural network from scratch. The algorithm will be used to correctly classify three Iris flower species in a large dataset.</p>
                <div style="margin: 5%">
                    <a href="neuralnetwork/index.html">
                        <div class="blog-clicker">Check It Out</div>
                    </a>
                </div>
            </div>
        </div>
        
        <div id="blog-wrapper" class="floatClear">
            <div class="block-right clear">
                <img class="img-responsive" src="../assets/images/Posts/Post_BarnDoor.png"/>
            </div>
            <div class="arrow-box-right">
                <h3><i>Arduino DIY</i></h3>
                <h2>Digital Star Tracker</h2>
                <p>Step-by-step arduino build for a barn door digital star tracker tripod mount. This device allows photographers to take long exposure shots of the night sky with pinpoint precision.</p>
                <div style="margin: 5%">
                    <div class="blog-coming-soon">Coming Soon</div>
                </div>
            </div>
        </div>
        
        <div id="blog-wrapper" class="floatClear">
            <div class="block-left clear">
                <a href="nutshell_MEAN_p1/index.html">
                    <img class="img-responsive" src="../../assets/images/Posts/Post_MEAN.png"/>
                </a>
            </div>
            <div class="arrow-box-left">
                <h3><i>Web Applications</i></h3>
                <h2>MEAN in a Nutshell</h2>
                <p>A tutorial using the MEAN stack for web application development while building a team management application (beginner to intermediate).</p>
                <div style="margin: 5%">
                    <a href="nutshell_MEAN_p1/index.html">
                        <div class="blog-clicker">Check It Out</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>