<div class="tealBackground projects">
     
    <p id="jumpto-Projects">&nbsp;</p>

    <div class="container">
        <div id="project-return"><a href="#jumpto-Projects">{% include icons/icon-back.html %}</a></div>
        <h1 id="projects-head" class="whiteText">PROJECTS</h1><br/>&nbsp;
    </div>
    <div class="project-slider">
        
        <div class="thumb-wrap">
            
            <div class="floatClear">
                 
                <a class="thumb" href="#jumpto-Projects" data-folder="proj-1" alt="Flat design neural network nodes" style="background-image: url(/assets/images/MDSS.png);">

                    <div class="thumb-overlay">
                        <strong class="thumb-text">Medical Decision Support System</strong>
                        <div class="subtitle"><strong>- Skynet Awaits... -</strong></div>
                    </div>
                </a>

                <a class="thumb" href="#jumpto-Projects" data-folder="proj-2" alt="Flat design moon with stars" style="background-image: url(/assets/images/Moon.png);">
                    <div class="thumb-overlay">
                        <strong class="thumb-text">Automated Barn Door Star Tracker</strong>
                        <div class="coming-soon"><strong>- Page Coming Soon -</strong></div>
                    </div>
                </a>

                <a class="thumb" href="#jumpto-Projects" data-folder="proj-3" alt="Flat design portrait of Moss from the IT Crowd (TV Show)" style="background-image: url(/assets/images/TechSupport.png);">
                    <div class="thumb-overlay">
                        <strong class="thumb-text">Tech Support <br/>(Android App)</strong>
                        <div class="subtitle"><strong>- Have You Tried Turning It Off and On Again? -</strong></div>
                    </div>
                </a>

                <a class="thumb" href="#jumpto-Projects" data-folder="proj-4" alt="Flat design shot of a clinical visual patterns test" style="background-image: url(/assets/images/CNTAS_Screen.png);">
                    <div class="thumb-overlay">
                        <strong class="thumb-text">Clinical Neuropsychology Test Administration System</strong>
                        <div class="subtitle"><strong>- The Psychiatrist That Fits in Your Pocket -</strong></div>
                    </div>
                </a>
                
                <a class="thumb" href="#jumpto-Projects" data-folder="proj-5" alt="Flat design tablet, phone, and computer"  style="background-image: url(/assets/images/Websites.png);">
                    <div class="thumb-overlay">
                        <strong class="thumb-text">Queen's University Faculty Websites</strong>
                        <div class="subtitle"><strong>- Cha Gheill -</strong></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="project-content-wrap">
            <div class="project-container">
                <h1 class="project-title" style="padding-bottom: 20px;"></h1>
                <div class="project-load">
                </div>        
            </div>
        </div>
    </div>     
</div>
