<div class="tealBackground">
     
    <p id="jumpto-Projects">&nbsp;</p>

    <div class="container"><h1 class="whiteText">PROJECTS</h1><br/>&nbsp;</div>
     
    <div class="container floatClear">
         <a class="thumb" alt="Flat design tablet, phone, and computer"  style="background-image: url(/assets/images/Websites.png);">
            <div class="thumb-overlay">
                <strong class="thumb-text">Queen's University Faculty Websites</strong>
                <div class="coming-soon"><strong>- Page Coming Soon -</strong></div>
            </div>
        </a>

        <a class="thumb" alt="Flat design neural network nodes" style="background-image: url(/assets/images/MDSS.png);">

            <div class="thumb-overlay">
                <strong class="thumb-text">Medical Decision Support System</strong>
                <div class="coming-soon"><strong>- Page Coming Soon -</strong></div>
            </div>
        </a>

        <a class="thumb" alt="Flat design moon with stars" style="background-image: url(/assets/images/Moon.png);">
            <div class="thumb-overlay">
                <strong class="thumb-text">Automated Barn Door Star Tracker</strong>
                <div class="coming-soon"><strong>- Page Coming Soon -</strong></div>
            </div>
        </a>

        <a class="thumb" alt="Flat design portrait of Maurice Moss from the IT Crowd (TV Show)" style="background-image: url(/assets/images/TechSupport.png);">
            <div class="thumb-overlay">
                <strong class="thumb-text">Tech Support <br/>(Android App)</strong>
                <div class="coming-soon"><strong>- Page Coming Soon -</strong></div>
            </div>
        </a>

        <a class="thumb" alt="Flat design shot of a clinical visual patterns test" style="background-image: url(/assets/images/CNTAS_Screen.png);">
            <div class="thumb-overlay">
                <strong class="thumb-text">Clinical Neuropsychology Test Administration System</strong>
                <div class="coming-soon"><strong>- Page Coming Soon -</strong></div>
            </div>
        </a>
    </div>

    <p id="jumpto-Blog" class="noMargin">&nbsp;</p>
     
</div>
