
<div class="container bigBottom">
    <div class="bigBottom clear">
        <div class="skill">
            <h4>Communication</h4>
            <img alt="Skill bar for communication (about 95% full)" class="img-responsive" src="assets/images/Skills/CommunicationBar.png">
        </div>
        <div class="skill">
            <h4>Organization</h4>
            <img alt="Skill bar for organization (about 85% full)" class="img-responsive" src="assets/images/Skills/OrganizationBar.png">
        </div>
        <div class="skill">   
            <h4>User Experience (UX)</h4>
            <img alt="Skill bar for user experience (UX; about 75% full)" class="img-responsive" src="assets/images/Skills/UXBar.png">
        </div>
        <div class="skill">
            <h4>Learning</h4>
            <img alt="Skill bar for learning (about 90% full)" class="img-responsive" src="assets/images/Skills/LearningBar.png">
        </div>
        <div class="skill">
            <h4>Programming</h4>
            <img alt="Skill bar for programming (about 85% full)" class="img-responsive" src="assets/images/Skills/ProgrammingBar.png">
        </div>
        <div class="skill"> 
            <h4>Team Work</h4>
            <img alt="Skill bar for team work (about 90% full)" class="img-responsive" src="assets/images/Skills/TeamWorkBar.png">
        </div>
    </div>
    
    <div class="topPadding clear">
        <p class="bodyText">Also feel free to download my resume (PDF, 68.4kB) or transcript (PDF, 6.6kB), friend!
        </p>
        <a download href="files/Daniel_LaFreniere_Resume.pdf"><img alt="Button to Download my Resume (PDF Format)" src="assets/images/Button_Resume.png" id="resume"/></a>
        <a download href="files/Daniel_LaFreniere_Transcript.pdf"><img alt="Button to Download my Transcript (PDF Format)" src="assets/images/Button_Transcript.png" id="resume"/></a>
        <p>&nbsp;</p>
    </div>
</div>