---
---

@import 'Sections/-sections-dir'
@import 'Tools/-tools-dir'

a
    color: white
    text-decoration: none !important
    
html, body 
    font-family: "Source Sans Pro", sans-serif
    line-height: 150%
    margin: 0
    max-height: 100%
    
.bodyText 
    a 
        color: #e36767

.bigBottom
    padding-bottom: 40px

.tealBackground
    background-color: #7accc8

.whiteText
    color: #fff
    
.bodyText
    padding: 10px
    font-size: 12pt
    text-align: justify
    color: black
    
.invisible
    visibility: hidden

h1
    font:
        family: 'Advent Pro', sans-serif
        weight: 700
    margin-left: 10px

h2
    font:
        family: 'Advent Pro', sans-serif
        weight: 600
        size: 20pt
    margin-left: 10px

.bigFont
    font:
        size: 24pt
        weight: 300
        
.topPadding 
    padding-top: 40px