---
---

@import 'Sections/-sections-dir'
@import 'Tools/-tools-dir'


*
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.floatClear
    overflow: hidden

a
    color: white
    text-decoration: none !important
    
html, body 
    font-family: "Source Sans Pro", sans-serif
    line-height: 150%
    margin: 0
    max-height: 100%
    
.bodyText 
    a 
        color: #e36767

.bigBottom
    padding-bottom: 40px

.tealBackground
    background-color: #7accc8
    background-size: 100% 100%

.whiteText
    color: #fff
    
.bodyText
    padding: 10px
    font-size: 12pt
    text-align: justify
    color: black
    
.invisible
    visibility: hidden

.clear
    clear: both
    
.noMargin
    margin: 0
    
h1
    font:
        family: 'Advent Pro', sans-serif
        weight: 700
    margin-left: 10px

h2
    font:
        family: 'Advent Pro', sans-serif
        weight: 600
        size: 20pt
    margin-left: 10px
    
h4
    font-size: 18px
    font-family: inherit
    font-weight: 500
    line-height: 1.1
    color: inherit
    
.bigFont
    font:
        size: 24pt
        weight: 300
        
.topPadding 
    padding-top: 40px