---
---

<html>
    <head>

   	 	<title>Dan LaFreniere Portfolio</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/all.css"/>
        <link href='http://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="../../assets/images/SiteLogo_AshTree.png" sizes="32x32">
        <link rel="stylesheet" href="../../assets/css/prism.css"/>
    </head>
    
    <body>
        {% include header-blogPost.html %}
        <div id="blogHeader" style="background-color: white">
            <p>MERN in a Nutshell - Part 3</p>
            <img style="margin-left: -50px" id="featuredImage" alt="Feature image for the blog - MERN logo" src="../../assets/images/Post_MERN/MERN.png"/>
        </div>
        
        <p class="topPadding" style="text-align: center; font-size: 16pt">|&nbsp; <a href="../nutshell_MERN_p1/index.html">PART 01</a> &nbsp;|&nbsp; <a href="../nutshell_MERN_p2/index.html">PART 02</a> &nbsp;|&nbsp; PART 03 &nbsp;|<br/>
            |&nbsp; <a href="../nutshell_MERN_p4/index.html">PART 04</a> &nbsp;|&nbsp; <a href="../nutshell_MERN_p5/index.html">PART 05</a> &nbsp;|&nbsp; <a href="../nutshell_MERN_p6/index.html">PART 06</a> &nbsp;|</p>
        
        <div class="container floatClear"> 
            <h1>SO WHAT ARE WE EVEN DOING AT THIS POINT?</h1>

            <p style="margin-top: 30px;">Right now all you really know is that we are building some vague application called TeamWhipper without much idea of what it will actually do. That kinda sucks, I know, but I've intentionally kept it vague so that we can focus more on the fine details of the project and really dive into what each line of code is doing. Parts of the project will be revealed as we progress - I figure it's the best way to focus on small pieces at a time and avoid information overload.</p>
            
            <p class="bigBottom">Alright, air cleared? Everyone chill? Solid.</p>
                
            <p>So now that we're on the same page and the App.js file is set up, we're going to create a basic landing page with a welcome message and a get started button. This will involve creating a very basic view and controller. Nothing special, but it will introduce some new concepts and better familiarize you with the MVC framework. The <a href="https://github.com/danlafreniere/BlogPosts/tree/master/MERN">github template</a> I linked to in the last part already has a "getStarted.ejs" view and corresponding css styling pre-packaged. <b>Please note that I won't be covering any HTML or css styling so it's essential to download these files if you want to code along.</b></p> 
        </div>

        <div class="container floatClear bigBottom"> 
            <h1>A LITTLE SELF CONTROL</h1>

            <p style="margin-top: 30px;">In the previous episode, we had a few lines in our App.js file regarding controllers. This part in particular is important: "require('./controllers/initialize')". This means that we are going to need a controller called "initialize.js" in the controllers folder of our project. And since we required this file and called it as a method with an application object argument in our App.js file ("initializationController(app)"), we need to explicitly export it so nothing breaks:</p>
            
            <pre class="codeBlockSmall" style="max-width: 410px; max-height: 160px;">
                <code class="language-java">
    module.exports = function(app){
    
    };
                </code>
            </pre> 
            
            
            <p>Within this little block of code, we can start setting up routes. The first route we are going to create is one that will render our getStarted.ejs view when the home path is visited ("/"). To do this, we make use of the passed in application object and make a get() call with a callback function that takes request and response objects as parameters. Like so:</p>
            
             <pre class="codeBlockSmall" style="max-width: 450px; max-height: 200px;">
                <code class="language-java">
    module.exports = function(app){
        app.get('/', function(req, res){
            res.render('getStarted');
        });
    };
                </code>
            </pre>
            
            <p>Now, run your server by navigating to the location of your app.js file on your hard drive using a linux shell, type "nodemon app" and hit enter. Navigate to "localhost:3000" in your browser and you should see a happy little lander page (<a href="https://www.youtube.com/watch?v=YLO7tCdBVrA" target="_blank">Bob Ross would be proud</a>):</p>
            
            <img style="margin: 40px auto" alt="Screenshot of landing page saying: let's get your team up to shape. Includes a button saying: get started" class="img-responsive" src="../../assets/images/Post_MERN/Happy_Little_Lander.png"/>
            
            <h2>BUTTON FUNCTIONALITY</h2>
            
            <p>It doesn't do us much good if we have a "Get Started" button that leads nowhere though so let's redirect to a new page when clicked using this same controller and routes.</p>
            
             <pre class="codeBlockSmall" style="max-width: 500px; max-height: 170px;">
                <code class="language-java">
    app.get('/createTeam', function(req, res){
      res.render('createTeam');
    });
                </code>
            </pre>
            
            <p>Alright, so now should be redirected to a new view when the Get Started button is clicked:</p>
            
            <img style="margin: 40px auto" alt="Screenshot of the create team page - includes fields for name, email, mobile, and team role" class="img-responsive" src="../../assets/images/Post_MERN/Team_Builder.png"/>
        </div>

        <div class="container"> 
            <h1>CONCLUSION</h1>
            <p style="margin-bottom: 80px;">In the next tutorial, we are going to cover basic data management using MongoDB and tease out our application a little more. <a href="../nutshell_MERN_p4/index.html">Check out part 4!</a></p>
        </div>
           
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="../../assets/js/functions.js"></script>
        <script src="../../assets/js/prism.js"></script>
    </body>
    
    {% include footer.html %}
    
</html>


