---
---

<html>
    <head>

   	 	<title>Dan LaFreniere Portfolio</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/all.css"/>
        <link href='http://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="../../assets/images/SiteLogo_AshTree.png" sizes="32x32">
        <link rel="stylesheet" href="../../assets/css/prism.css"/>
    </head>
    
    <body>
        {% include header-blogPost.html %}
        <div id="blogHeader">
            <p>MERN in a Nutshell - Part 3</p>
            <img id="featuredImage" alt="Feature image for the blog - MERN text in a literal nutshell" src="../../assets/images/Feature.png"/>
        </div>
        
        <p class="topPadding" style="text-align: center; font-size: 16pt">|&nbsp; <a href="../nutshell_MERN_p1/index.html">PART 1</a> &nbsp;|&nbsp; <a href="../nutshell_MERN_p2/index.html">PART 2</a> &nbsp;|&nbsp; PART 3 &nbsp;| </p>
        
        <div class="container floatClear"> 
            <h1></h1>

            <p style="margin-top: 30px;"></p>
            
            <p class="bigBottom"></p> 
        </div>

        <div class="container floatClear"> 
            <h1></h1>

            <p style="margin-top: 30px;"></p>
            
            <p class="bigBottom"></p>            
        </div>

        <div class="container"> 
            <h1>CONCLUSION</h1>
            <p style="margin-bottom: 80px;"></p>
        </div>
        
        <!--
            <pre class="codeBlockSmall">
                <code class="language-java">
        
                </code>
            </pre> 
        -->     
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="../../assets/js/functions.js"></script>
        <script src="../../assets/js/prism.js"></script>
    </body>
    
    {% include footer.html %}
    
</html>


