.intro {
  font-size: 32pt !important; 
}

.intro, #featuredBlog-title {
  padding: 10% 32px 0;
  margin-top: 20px;
  font-size: 24pt;
  font-weight: 300;
}

.introKicker {
  font-size: 18pt;
  font-weight: 300;
  color: white;
}

#shortDescription {
  padding-bottom: 100px;
  font-family: "Advent Pro", sans-serif;
  background-color: #7accc8;
  margin-top: 150px;
  color: white;
  width: 100%;
  text-align: center;
  position: relative;
  min-height: 400px;
  height: 67vh;
  border-bottom: 2px solid white;
}

#selfPortrait {
  position: absolute;
  bottom: -82px;
  left: calc(50% - 82px);
  left: -o-calc(50% - 82px);
  left: -webkit-calc(50% - 82px);
  left: -moz-calc(50% - 82px);
  z-index: 100;
  border: 2px solid white;
  border-radius: 50%;
}

#about {
  overflow-x: hidden;
  background-color: white;
  background: url("../images/about-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.master-container {
  width: 200%;
  height: 90vh;
  position: relative;
  left: -50%;
  min-height: 630px;
}

.about-content {
  margin: 100px 50px 20px 50px;
  display: block;
}

.about-panel-left {
  overflow-y: scroll;
  left: 0;
  float: left;
  width: 25%;
  position: relative;
  background-color: #10131A;
  color: white;
  height: 90vh;
  z-index: 99;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  min-height: 630px;
}

.about-panel-left p {
  font-size: 13pt !important;
  font-weight: 300;
}

.about-panel-right {
  overflow-y: scroll;
  right: 0;
  width: 25%;
  position: relative;
  background-color: white;
  float: right;
  height: 90vh;
  z-index: 99;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
  min-height: 630px;
}

.about-kicker {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#aboutme-btn {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 2px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 40%;
  margin: -50px 0 0 -150px;
  height: 100px;
  width: 300px;
  font-size: 24pt;
  font-weight: 400;
  border: 3px solid white;
  color: white;
  border-radius: 15px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #10131A;
}

#resume {
  height: 50px;
  margin: 20px;
  opacity: 1;
  border: 2px solid white;
  border-radius: 10px;
}

#resume-container {
  position: absolute;
  left: calc(50% - 230px);
  left: -o-calc(50% - 230px);
  left: -webkit-calc(50% - 230px);
  left: -moz-calc(50% - 230px);
  top: 54%;
}

#resume:hover {
  opacity: 0.7;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

#back-btn {
  height: 40px;
  width: 150px;
  font-size: 14pt;
  font-weight: 400;
  border: 2px solid white;
  color: white;
  background-color: #7accc8;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
}

#aboutme-btn:hover {
  opacity: 0.7;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

#back-btn:hover {
  opacity: 0.5;
}

.color-palette {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.color-swatch {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  display: inline-block;
  margin: 10px auto;
  position: relative;
  background-color: #11335d;
  margin: 6%;
}

.color-swatch span {
  line-height: 160px;
}

.left-test {
  height: calc(100vh - 100px);
  height: -o-calc(100vh - 100px);
  height: -webkit-calc(100vh - 100px);
  height: -moz-calc(100vh - 100px);
  background-color: red;
  width: 50%;
  position: absolute;
}

.right-test {
  width: 50%;
  left: 50%;
  background-color: blue;
  position: relative;
}

.skill {
  float: left;
  width: 50%;
  padding: 10px;
}
