.intro, #featuredBlog-title
    padding: 80px 32px 0
    margin-top: 20px
    font-size: 24pt 
    font-weight: 300

.introKicker 
    font-size: 18pt
    font-weight: 300
    color: white

#shortDescription
    padding-bottom: 100px
    font-family: 'Advent Pro', sans-serif
    background-color: #7accc8
    margin-top: 150px
    color: white
    width: 100%
    text-align: center
    position: relative

#selfPortrait
    position: absolute
    bottom: -82px
    left: calc(50% - 82px)
    left: -o-calc(50% - 82px)
    left: -webkit-calc(50% - 82px)
    left: -moz-calc(50% - 82px)
    
.aboutme p
    font-size: 14pt !important
    
.color-palette
    max-width: 700px
    margin: 0 auto
    text-align: center
    position: relative
    
.color-swatch
    border-radius: 50%
    height: 160px
    width: 160px
    display: inline-block
    margin: 10px auto
    position: relative
    background-color: #11335d
    margin: 6%
    
.color-swatch span
    line-height: 160px
    
    
.left-test
    height: calc(100vh - 100px)
    height: -o-calc(100vh - 100px)
    height: -webkit-calc(100vh - 100px)
    height: -moz-calc(100vh - 100px)
    background-color: red
    width: 50%
    position: absolute

    
.right-test
    width: 50%
    left: 50%
    background-color: blue
    position: relative
    
.fixed
    position: fixed !important
    