.intro, #featuredBlog-title {
  padding: 10% em(32) 0;
  margin-top: em(20);
  font-size: $h1-font;
  font-weight: $font-weight-diet;
}

.introKicker {
  font-weight: $font-weight-diet;
  color: $white;
}

#shortDescription {
  padding-bottom: em(100);
  font-family: $font-stack-title;
  background-color: $site_teal;
  margin-top: em(150);
  color: $white;
  width: $whole;
  text-align: center;
  position: relative;
  min-height: em(400);
  height: 67vh;
  border-bottom: em(2) solid $white;
}

#selfPortrait {
  position: absolute;
  bottom: -(em(82));
  left: calc(50% - 82px);
  left: -o-calc(50% - 82px);
  left: -webkit-calc(50% - 82px);
  left: -moz-calc(50% - 82px);
  z-index: $high;
  border: em(2) solid $white;
  border-radius: $half;
}

#about {
  overflow-x: hidden;
  background-color: $white;
  background: url("https://source.unsplash.com/7rlIPXTR6OI/1600x900") no-repeat center center fixed;
  background-size: cover;
}

.master-container {
  width: $overflow;
  height: 90vh;
  position: relative;
  left: -($half);
  min-height: em(630);
}

.about-content {
  margin: em(100) em(50) em(20) em(50);
  display: block;
}

.about-panel-left {
  overflow-y: scroll;
  left: 0;
  float: left;
  width: $quarter;
  position: relative;
  background-color: $site-black;
  color: $white;
  height: 90vh;
  z-index: 99;
  transition: left 0.5s;
  min-height: em(630);
}

.about-panel-left p {
  font-size: 13pt !important;
  font-weight: $font-weight-diet;
}

.about-panel-right {
  overflow-y: scroll;
  right: 0;
  width: $quarter;
  position: relative;
  background-color: $white;
  float: right;
  height: 90vh;
  z-index: 99;
  transition: right 0.5s;
  min-height: em(630);
}

.about-kicker {
  width: $half;
  display: block;
  margin: 0 auto;
}

#aboutme-btn {
  font-family: $font-stack-main;
  letter-spacing: 2px;
  position: absolute;
  left: $half;
  right: $half;
  top: 40%;
  margin: -50px 0 0 -150px;
  height: 100px;
  width: 300px;
  font-size: 24pt;
  font-weight: normal;
  border: 3px solid $white;
  color: $white;
  border-radius: ($gutter / 2);
  text-transform: uppercase;
  cursor: pointer;
  background-color: $site-black;
}

#resume {
  height: 50px;
  margin: 20px;
  opacity: 1;
  border: 2px solid $white;
  border-radius: 10px;
}

#resume-container {
  position: absolute;
  left: calc(50% - 230px);
  left: -o-calc(50% - 230px);
  left: -webkit-calc(50% - 230px);
  left: -moz-calc(50% - 230px);
  top: 54%;
}

#resume:hover {
  opacity: 0.7;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

#back-btn {
  height: 40px;
  width: 150px;
  font-size: 14pt;
  font-weight: $font-weight-normal;
  border: 2px solid $white;
  color: $white;
  background-color: $site-teal;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
}

#aboutme-btn:hover {
  opacity: 0.7;
  transition: all 0.5s ease;
}

#back-btn:hover {
  opacity: 0.5;
}

.skill {
  float: left;
  width: $half;
  padding: 10px;
}

@media only screen and (min-width: 961px) {
  .introKicker {
    padding-top: 10px;
    font-size: $h3-font;
    font-weight: $font-weight-diet;
  }
}

@media only screen and (max-width: 961px) {
  .intro, #featuredBlog {
    padding: 80px 32px 0;
    font-size: 26pt;
  }

  .introKicker {
    padding-top: 5px;
    font-size: 14pt;
  }
}
