.project_pic {
  transition: all 0.5s ease;
}

.photoContainer {
  top: 0;
  width: $whole;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #262626;
  background: url(/assets/images/SpaceBackground.png) no-repeat center center fixed;
  background-size: cover;
}

.photoContainer_content {
  font-family: $font-stack-title;
  color: $white;
  width: $whole;
  margin-top: 30px;
  text-align: center;
  position: relative;
}

.photoContainer_content > h1 {
  padding-top: 100px;
  font-size: 30pt;
  font-weight: 700;
  z-index: 10;
  text-transform: uppercase;
}

.photoContainer_content h3 {
  font-family: $font-stack-title;
  position: relative;
  font-size: 16pt;
  font-weight: 600;
  float: left;
  margin-top: -10px;
  padding-left: 10px;
  line-height: 0.5;
  text-align: center;
  width: 100%;
  z-index: 998;
}

.photoContainer:hover h1 {
  color: $site-teal;
}

.photoContainer:hover h3 {
  color: $site-teal;
}

.sliding-underline {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
}

.sliding-underline:after {
  content: "";
  display: block;
  margin: 10px auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.photoContainer:hover .sliding-underline:after {
  width: 120px;
  background: $site-teal;
}

#planet {
  float: left;
  position: absolute;
  height: 60%;
  overflow: hidden;
  left: 12%;
  top: 13%;
  z-index: 2;
}

#bigComet {
  float: left;
  position: absolute;
  height: 80px;
  overflow: hidden;
  left: -20%;
  top: 150px;
  z-index: 3;
  animation: moveclouds 15s linear infinite;
}

#littleComet {
  float: left;
  position: absolute;
  height: 25px;
  overflow: hidden;
  left: -5%;
  top: 50px;
  z-index: 1;
  animation: moveclouds 25s linear infinite;
}

@-webkit-keyframes moveclouds {
  100% {
    margin-left: 120%;
  }
  0% {
    margin-left: -10%;
  }
}
@-moz-keyframes moveclouds {
  100% {
    margin-left: 120%;
  }
  0% {
    margin-left: -10%;
  }
}
@-o-keyframes moveclouds {
  100% {
    margin-left: 120%;
  }
  0% {
    margin-left: -10%;
  }
}
