footer {
  background-color: #3d3d3b;
  color: #fff;
  margin: auto;
  height: 50px;
  overflow: hidden;
}

#footerText {
  padding-left: 20px;
  font-size: 10pt;
  float: left;
}

#copyrightText {
  padding-right: 20px;
  font-size: 10pt;
  float: right;
}
