form
    float: left
    position: relative
    width: 480px
    margin-left: 10px

form label
    display: block
    height: 36px
    margin: 0
    border-bottom: 1px solid black

form span
    padding: 5px

form label span
    display: block
    float: left

span.message
    display: block

form input.name, form input.email
    float: right
    width: 380px
    height: 35px
    border: none
    padding: 10px

form input:focus, form textarea:focus
    outline: none
    background-color: #7accc8

form textarea
    float: right
    width: 480px
    height: 120px
    border: none
    margin-bottom: 5px
    padding: 10px
    border-bottom: 1px solid black

form .button
    font-family: 'Advent Pro', sans-serif
    font-size: 12pt
    padding: 6px
    clear: both
    margin-top: 5px
    margin-bottom: 50px
    background-color: #3d3d3b
    border: 2px solid #3d3d3b
    color: #fff
    border-radius: 5px