#return
    height: 24px
    margin-bottom: 60px

#project-return
    width: 40px
    height: 40px
    float: left
    margin: -8px 6px 0
    cursor: pointer
    display: none
    transition: all 0.5s ease
    -webkit-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    
    path
        fill: white
    svg
        width: 40px
        height: 40px
        
#projects-head, #return
    max-width: 250px
    margin-right: 0
    margin-left: 0
    display: inline-block
    
#projects-head
    margin-top: -1px
    
.projects
    overflow-x: hidden

.project-slider
    width: 200%
    position: relative

.thumb-container
    display: block
    
.project-container
    display: none
    max-width: 1200px
    margin: 0px auto
    
.project-intro
    max-width: 700px
    margin: 0 auto

.project-title
    line-height: 1.2
    padding-bottom: 20px
    
.project-content-wrap h1
    color: white
    text-transform: uppercase
    text-align: center
    margin: 0
    font-size: 34

.project-content-wrap h2
    color: white
    margin: 0
    padding: 60px 0 20px 0
    text-transform: uppercase

.projects p
    text-align: justify
    font-size: 16

.thumb-wrap, .project-content-wrap
    width: 50%
    float: left

.thumb-title
    margin-right: 15px
    margin-left: 15px
    margin-right: auto
    margin-left: auto

.thumb, .thumb-50
    display: block     /* anchor tags are normally display-inline */
    float: left
    position: relative
    padding-top: 20%
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    
.thumb
    width: 33.33%
    height: 300px
    
.thumb-50
    width: 50%
    height: 400px

.thumb-overlay
    position: absolute
    top: 100%
    left: 0
    right: 0
    bottom: null
    opacity: 0.8
    background-color: #3d3d3b
    height: 100%
    text-align: center
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94)
    -moz-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94)
    -webkit-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94)
    -o-transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94)
    
.thumb-text
    margin-top: 10%
    
.thumb
    cursor: pointer

.thumb:hover .thumb-overlay, .thumb-50:hover .thumb-overlay
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0.8
    background-color: #3d3d3b

.thumb-text
    font-family: 'Advent Pro', sans-serif
    display: block
    padding: 30px 10px 20px 10px
    color: #fff
    font-size: 16pt
    font-weight: 300
    text-transform: uppercase
    line-height: 1.2

.coming-soon
    font-family: 'Advent Pro', sans-serif
    display: block
    padding: 0 10px 0 10px
    color: #e36767
    font-size: 14pt
    font-weight: 300
    
.subtitle
    font-family: 'Advent Pro', sans-serif
    display: block
    padding: 0 10px 0 10px
    color: white
    font-size: 14pt
    font-weight: 300
    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* ----------------------- PROJECT 1 ----------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */

#proj-1 a
    color: #e36767

#proj-1 h2
    font-size: 30
    
#proj-1 h3
    font-size: 24

#proj-1 .project-details-black
    background-color: #10131A
    width: 100%

#proj-1 .project-details-black p
    color: white
    
#proj-1 .project-details-black h3
    color: white
    text-transform: uppercase
    
#proj-1 .project-details-white
    background-color: white
    width: 100%
    
#proj-1 .project-details-white h2
    color: black
    
#proj-1 .project-button
    margin: 10px auto !important
    display: inline-block
    border-style: solid
    padding: 8px
    border-width: 3px
    border-color: #3d3d3b
    border-radius: 5px
    color: #3d3d3b
    font-weight: 700
    
#proj-1 .project-button:hover
    background-color: #3d3d3b
    color: white
    transition: all 0.5s ease
    -webkit-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    
#proj-1 .col-left
    text-align: justify
    color: black
    float: left
    width: 60%
    
#proj-1 .col-right
    width: 40%
    text-align: center
    float: right
    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* ----------------------- PROJECT 2 ----------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */

#proj-2 .project-details-white
    background-color: white
    width: 100%
    
#proj-2 .project-details-white h2
    color: black

#proj-2 p
    margin: 30px 0
    text-align: center

#proj-2 h2
    font-size: 24
    
#proj-2 #project-title
    margin-bottom: 40px
    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* ----------------------- PROJECT 3 ----------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */

#proj-3 h2
    font-size: 30

#proj-3 .project-details-black
    background-color: #10131A
    width: 100%

#proj-3 .project-details-black p
    color: white
    
#proj-3 .project-details-black h2
    color: white
    
#proj-3 .project-details-white
    background-color: white
    width: 100%
    
#proj-3 .project-details-white h2
    color: black
    
#proj-3 .project-button
    margin: 10px auto !important
    display: inline-block
    border-style: solid
    padding: 8px
    border-width: 3px
    border-color: #7accc8
    border-radius: 5px
    color: #7accc8
    font-weight: 700
    
#proj-3 .project-button:hover
    background-color: #7accc8
    color: white
    transition: all 0.5s ease
    -webkit-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* ----------------------- PROJECT 4 ----------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */

#proj-4 h2
    font-size: 30

#proj-4 .project-details-black
    background-color: #10131A
    width: 100%

#proj-4 .project-details-black p
    color: white
    
#proj-4 .project-details-white
    background-color: white
    width: 100%
    
#proj-4 .project-details-white h2
    color: black
    
#proj-4 .project-button
    margin: 10px auto !important
    display: inline-block
    border-style: solid
    padding: 8px
    border-width: 3px
    border-color: #7accc8
    border-radius: 5px
    color: #7accc8
    font-weight: 700
    
#proj-4 .project-button:hover
    background-color: #7accc8
    color: white
    transition: all 0.5s ease
    -webkit-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    
#proj-4 .col-left
    text-align: justify
    color: black
    float: left
    width: 60%
    
#proj-4 .col-right
    width: 40%
    text-align: center
    float: right
    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* ----------------------- PROJECT 5 ----------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */    
/* --------------------------------------------------------- */

#proj-5 h2
    font-size: 30

#proj-5 .project-details-black
    background-color: #10131A
    width: 100%

#proj-5 .project-details-black p
    color: white
    
#proj-5 .project-details-white
    background-color: white
    width: 100%
    
#proj-5 .project-details-white h2
    color: black
    
#proj-5 .color-palette
    max-width: 700px
    margin: 0 auto
    text-align: center
    position: relative
    
#proj-5 .color-swatch
    border-radius: 50%
    height: 80px
    width: 80px
    display: inline-block
    margin: 10px auto
    position: relative
    
#proj-5 .color-swatch span
    line-height: 80px
    
#proj-5 #tricolour-blue
    background-color: #11335d
    margin: 30px 50px 30px 50px
    
#proj-5 #tricolour-yellow
    background-color: #eebd31
    margin: 30px 50px 30px 50px
    
#proj-5 #tricolour-red
    background-color: #9d1939
    margin: 30px 50px 30px 50px
    
#proj-5 .project-button
    margin: 10px auto !important
    display: inline-block
    border-style: solid
    padding: 8px
    border-width: 3px
    border-color: #7accc8
    border-radius: 5px
    color: #7accc8
    font-weight: 700
    
#proj-5 .project-button:hover
    background-color: #7accc8
    color: white
    transition: all 0.5s ease
    -webkit-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    
#proj-5 .col-left
    text-align: justify
    color: black
    float: left
    width: 60%
    
#proj-5 .col-right
    width: 40%
    text-align: center
    float: right