img
    border: 0
    page-break-inside: avoid
    max-width: 100% !important
    vertical-align: middle

.img-responsive
    display: block
    max-width: 100%
    height: auto
    
.skill
    margin: auto
    display: block
    float: left
    padding: 10px 20px 10px 20px