---
---

<html>
    <head>

   	 	<title>Dan LaFreniere Portfolio</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/all.css"/>
        <link href='http://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="../../assets/images/SiteLogo_AshTree.png" sizes="32x32">
        <link rel="stylesheet" href="../../assets/css/prism.css"/>
    </head>
    
    <body>
        {% include header-blogPost.html %}
        <div id="blogHeader" style="background-color: white">
            <p>MERN in a Nutshell - Part 4</p>
            <img style="margin-left: -50px" id="featuredImage" alt="Feature image for the blog - MERN logo" src="../../assets/images/Post_MERN/MERN.png"/>
        </div>
        
        <p class="topPadding" style="text-align: center; font-size: 16pt">|&nbsp; <a href="../nutshell_MERN_p1/index.html">PART 01</a> &nbsp;|&nbsp; <a href="../nutshell_MERN_p2/index.html">PART 02</a> &nbsp;|&nbsp; <a href="../nutshell_MERN_p3/index.html">PART 03</a> &nbsp;|<br/>
            |&nbsp; <a href="../nutshell_MERN_p4/index.html">PART 04</a> &nbsp;|&nbsp; <a href="../nutshell_MERN_p5/index.html">PART 05</a> &nbsp;|&nbsp; PART 06 &nbsp;|</p>
        
        <div class="container floatClear"> 
            <h1></h1>

            <p style="margin-top: 30px;">
                
        </div>

        <div class="container floatClear bigBottom"> 
            <h1></h1>

            <p style="margin-top: 30px;"></p>
            
            
<!--
            <pre class="codeBlockSmall" style="max-width: 410px; max-height: 160px;">
                <code class="language-java">
 
                </code>
            </pre> 
-->
            
          
        </div>

        <div class="container"> 
            <h1>CONCLUSION</h1>
            <p style="margin-bottom: 80px;"></p>
        </div>
           
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="../../assets/js/functions.js"></script>
        <script src="../../assets/js/prism.js"></script>
    </body>
    
    {% include footer.html %}
    
</html>


