---
---

<html>
    <head>
        
   	 	<title>Dan LaFreniere Portfolio</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/all.css"/>
        <link href='http://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="../../assets/images/SiteLogo_AshTree.png" sizes="32x32">
        <link rel="stylesheet" href="../../assets/css/prism.css"/>
    </head>
    
    <body>
        {% include header-blogPost.html %}
        {% include blog-head.html %}
        {% include blog-content.html %}
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="../../assets/js/functions.js"></script>
        <script src="../../assets/js/prism.js"></script>
    </body>
    
    {% include footer.html %}
    
</html>


