
/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

a {
    color: white;
    padding-left: 20px; 
    font-weight: 300;
    font-size: 14pt;
    display: inline-block; 
    text-decoration: none; 
}

body {
    background-color: #3d3d3b;
}

 nav {
    font-family: 'Advent Pro', sans-serif;
    background-color: #3d3d3b;
    float: right; 
    margin: 60px 3% 0 0;
}

/* -----------------------------------*/
/* ---------->>> HEADER <<<-----------*/
/* -----------------------------------*/



#treeLogo {
    float: left;    
    display: block; 
    margin: 25px 0 0 3%;  
}

#nameLogo {
    float: left;    
    display: block; 
    margin: 35px 0 0 10px;
}

#menuLogo {
    float: left;
    margin: 5px 0 0 10px; 
    display: none;
    width: 70px; 
}

#header {
    background-color: #3d3d3b;
    height: 150px;
    position: fixed; 
    width: 100%;
    top: 0px; 
    z-index: 10000;
    overflow: hidden;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

#header.shrink {
    height: 80px; 
    line-height: 45px;
}

.logo.new {
    margin: 5px 0 0 3%; 
    width: 70px; 
    
}

/* -------------------------------------------*/
/* ---------->>> PAGE STRUCTURE <<<-----------*/
/* -------------------------------------------*/



/* -------------------------------------*/
/* ---------->>> HEADINGS <<<-----------*/
/* -------------------------------------*/


/* ----------------------------------------*/
/* ---------->>> TEXT STYLES <<<-----------*/
/* ----------------------------------------*/

/* ---------------------------------------*/
/* ---------->>> NAVIGATION <<<-----------*/
/* ---------------------------------------*/


/* ----------------------------------*/
/* ---------->>> FORMS <<<-----------*/
/* ----------------------------------*/


/* -------------------------------------*/
/* ---------->>> COMMENTS <<<-----------*/
/* -------------------------------------*/


/* -----------------------------------*/
/* ---------->>> EXTRAS <<<-----------*/
/* -----------------------------------*/





.container {
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 100px; 
}












a:hover {
    color: #f86b71;  
    text-decoration: underline;
}



#shortDescription {
    padding: 93px 0 116px 0;
    font-family: 'Advent Pro', sans-serif;
    background-color: #7accc8;
    color: white;  
    width: 100%; 
    text-align: center;
    margin-top: 150px; 
    position: relative;
}

.projects {
    margin: 50px 50px 0 0; 
    position: relative; 
}

.intro {
    padding: 0 0 32px 0; 
    font-size: 30pt; 
}

.introKicker {
    padding-top: 10px; 
    font-size: 18pt; 
}

#KCCLogo {
    width: 20%; 
    float: right; 
}

#selfPortrait {
    position: absolute; 
    bottom: -20%; 
    left: 43%; 
}

.bigFont {
    font-size: 24pt;
}





